<!DOCTYPE html>

<html lang="en">
<head>
  <title>Weather</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" >
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
<link href="/static/styles.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.11.0/css/flag-icons.min.css"/>

</head>
<body>
  <div class="main_title">
    <h2>Weather</h2> 
  <form action="/new-locations" method="get" >
    <input autocomplete="off" autofocus name="q"  type="text"/>
      <button type="submit">Search</button>
  </form>
  </div>

  <section>
    <div class="container-fluid">
      <div class="container">
        <div class="row mezera">
          {% for weather in weather_s %}
          <div class="col-sm-4">
            <div class="card text-center">
              <div class="title">
                <span class="fi fi-{{weather.country_code}} f-left"></span>
                <h2>{{weather.name}}</h2>
              </div>
              <div class="temperature">
                <h4>{{weather.teplota}}<sup>°C</sup></h4>
              </div>
              <div class="option">
                <ul>
                <li>{{weather.country}}</li>
                </ul>
              </div>
              <form action="/more_info" method="get">
                <input name="id" type="hidden" value="{{weather.id}}">
                <button type="submit">More info</button>
              </form>
              <form action="/delete" method="post">
                <input name="id" type="hidden" value="{{weather.id}}">
                <button type="submit">Delete</button>
            </form>
            </div>
          </div>
          {% endfor %}










        </div>
      </div>
    </div>
  </section>      








  </body>
</html>

    
    
    
    
    
    