<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Weather</title>
    </head>
    <body>
            <h1>Weather</h1> 
                <form action="/new-locations" method="get" >
                    <input autocomplete="off" autofocus name="q"  type="text"/>
                    <button type="submit">Search</button>
                 </form>
            <table>
                <thead>
                    <tr>
                        <th>name</th>
                        <th>country</th>
                        <th>country_code</th>
                        <th>temperature</th>
                        
                    </tr>
                </thead>
                    <tbody>
                        {% for weather in weather_s %}
                        <tr>
                            <td>{{weather.name}}</td>
                            <td>{{weather.country}}</td>
                            <td>{{weather.country_code}}</td>
                            <td>{{weather.teplota}}</td>
                            <td>
                                <form action="/delete" method="post">
                                    <input name="id" type="hidden" value="{{weather.id}}">
                                    <button type="submit">Delete</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %} 
                    </tbody>
            </table>    
    </body>
</html>
    
    
    
    
    
    