<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Weather</title>
        <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" >
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
<link href="/static/styles.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.11.0/css/flag-icons.min.css"/>
    </head>
    <body>
        <div class="main_title">
            <h2>Weather</h2> 
        </div>
    

        <section>
            <div class="container-fluid">
              <div class="container">
                <div class="row mezera">
                    {% for location in locations %}
                    <div class="col-sm-4">
                        <div class="card text-center">
                          <div class="title">
                            <span class="fi fi-{{location.country_code}} f-left"></span>
                            <h2>{{location.name}}</h2>
                            <div class="option">
                                <ul>
                                <li>{{location.country}}</li>
                                <li>{{location.admin1}}</li>
                                </ul>
                              </div>
                              <form action="/save_location" method="post" >
                                <input name="name" type="hidden" value="{{location.name}}">
                                <input name="country" type="hidden" value="{{location.country}}">
                                <input name="latitude" type="hidden" value="{{location.latitude}}">
                                <input name="longitude" type="hidden" value="{{location.longitude}}">
                                <input name="country_code" type="hidden" value="{{location.country_code}}">
                                <input name="id" type="hidden" value="{{location.id}}">
                                <button type="submit">Add</button>
                                
                            </form>
                          </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
              </div>
            </div>
        </section>        
    </body>
</html>
    
    